<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.formatDateTime.min.js"></script>
  </head>
  <body style="margin-top:0; padding-top:0">